*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: "Arial","Hiragino Sans GB", "Helvetica", "sans-serif";
}
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
}
ul{
    list-style:none;
}
a{
    text-decoration:none;
}
div:after{
    content:"";
    display:block;
    clear:both;
}
body{
    background-image: url("../images/background.jpg");
    background-attachment: fixed;
}

/***********************登录************************/
.login_container{
    position:absolute;
    top:50%;
    left:50%;
    width:400px;
    height:400px;
    background:#fff;
    margin:0 auto;
   margin-top:-192px;
    opacity: .8;
}
.login{
    width:380px;
    height:400px;
    padding:15px;
    box-sizing: border-box;
    text-align: center;
}
.login_container>span{
    position: absolute;
    top:0;
    right:0;
}
.pic{
    position:absolute;
    top:50%;
    left:50%;
    width:400px;
    height:390px;
    background:#fff;
    margin:0 auto;
    margin-top:-192px;
    opacity: .8;
}
.pic>img{
    position: absolute;
    width:300px;
    height:300px;
    top:40px;
    left:50px;
}
.pic>span{
    position: absolute;
    top:0;
    right:0;
}
.login_container>span a{
    color:#000;
    font-size:24px;
}
.login>a{
    display: inline-block;
    float: left;
    text-decoration: none;
    font-size:24px;
    color:#999;
    padding:10px 10px;
    margin-left:20px;
    border-bottom:2px solid #EBEBEB;
}
.login>a.active{
    border-bottom-color:#2AA126;
    color:#000;
}
.login input{
    width:300px;
    height:40px;
    font-size:14px;
    /*margin-top:20px;*/
    padding-left:30px;
    border-radius: 3px;
    border:1px solid #999;
    outline: none;
}
.text_mail input{
    margin-top:20px;
}
.text_phone input{
    margin-top:20px;
}
.login_into{
    display:block;
    text-decoration: none;
    width:300px;
    height:40px;
    line-height: 40px;
    font-size:20px;
    /*margin-top:20px;*/
    color:#fff;
    font-weight: bold;
    padding:2px;
    background:#74B96E;
    margin-left:25px;
}
.login_container{
    display:block;
}
.phone{
    display:block;
}
.register_container{
    display:none;
}
.pic{
    display:none;
}
.password{
    position: relative;
}
.password span{
    position: absolute;
    top:10px;
    left:30px;
    width:24px;
    height:24px;
    background:url('../images/login.png') -290px -89px no-repeat;
}
.text_other{
    position: relative;
}
.text_other span{
    position: absolute;
    top:11px;
    left:6px;
    width:15px;
    height:15px;
    background:url('../images/login.png') -330px -93px no-repeat;
    border:1px solid #ddd;
}
.text_other{
    position: relative;
    width:300px;
    height:40px;
    line-height: 40px;
    font-size:14px;
    color:#999;
    text-align: left;
    margin:10px 20px;
    padding-left:25px;
}
.text_other a{
    color:#999;
}
.text_other a:nth-child(2){
    height:16px;
    padding:0 5px;
    border-left:1px solid #999;
}
.text_other a:last-child{
    float:right;
}
.other_login span{
    display:inline-block;
    width:90px;
    height:24px;
    background: url('../images/login01.png') -9px -54px no-repeat;
}
.other_login li:nth-child(3) span{
    background-position: -111px -54px;
}
.other_login {
    color:#999;
    width:300px;
    margin:0 auto;
    font-size:14px;
    margin-top:20px;
    border-top:1px solid #999;
}
.other_login li{
    float:left;
    width:33.3%;
    padding:10px 0;
}
.text_phone{
    position: relative;
}
.text_phone span{
    position: absolute;
    top:80px;
    left:35px;
    width:24px;
    height:24px;
    background:url('../images/login.png') 0 -480px no-repeat;
}
.text_other .register_into{
    color:#59AFED;
}
.login i{
    display:inline-block;
    width:300px;
    height:30px;
    line-height: 30px;
    text-align: left;
    font-size:14px;
    color:#e4393a;
}
/*************************注册****************************/
.register_container{
    position:absolute;
    top:50%;
    left:50%;
    width:400px;
    height:480px;
    background:#fff;
    margin:0 auto;
    margin-top:-192px;
    opacity: 0.8;
}
.register{
    width:380px;
    height:480px;
    padding:10px;
    margin:0 auto;

}
.register a{
    font-size:12px;
    color:#4CB5FF;
}
.register h2{
    color:#e4393a;
    font-weight: bold;
    line-height:40px;
    margin:20px 0;
}
.register p{
    height:20px;
    font-size: 12px;
}
.register h4{
    font-size:12px;
    height:17px;
    color:#999;
}
table tr{
    height:30px;
}
table tr td:first-child{
    font-size:16px;
    color:#333;
    line-height: 10px;
    text-align: right;
}
.register input{
    width:250px;
    height:40px;
    font-size:14px;
    padding-left:5px;
    border-radius: 3px;
    border:1px solid #999;
    outline: none;
}
 .reg input{
     padding-left:5px;
    width:150px;
    height:40px;
     border-radius: 3px;
     border:1px solid #999;
     outline: none;
}
 .reg a{
     font-size:14px;
     display:inline-block;
     width:96px;
     height:40px;
     line-height:40px;
     vertical-align: middle;
     text-align: center;
     border:1px solid #999;
     border-radius: 2px;
     margin-bottom:1px;
 }
.register a.into_login{
    display: inline-block;
    width:300px;
    height:40px;
    line-height: 40px;
    text-align: center;
    font-size:14px;
    color:#fff;
    background:#e4393a;
    border:1px solid #e4393a;
    border-radius: 2px;
}
.register i{
    display:inline-block;
    width:250px;
    height:30px;
    line-height: 30px;
    font-size: 14px;
    text-align: left;
    color:#e4393a;
}