*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: "Arial","Hiragino Sans GB", \5fae\8f6f\96c5\9ed1, "Helvetica", "sans-serif";
    margin:0 auto;
}
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
}
ul{
    list-style:none;
}
a{
    text-decoration:none;
}

/*----------------------导航栏---------------------------*/
header{
    width:100%;
    height:60px;
    position: fixed;
    top:0;
    left:0;
    display:none;
    z-index: 1000;
    background-color:#303541;
    margin:0 auto;
}
header:before{
    content:"";
    display:table;
}
header:after{
    content:"";
    display: block;
    clear:both;
}
.fixed_bar{
    width:1205px;
    height:60px;
    line-height: 60px;
    margin:0 auto;
    padding-left:9px;
}
.small{
    position: fixed;
    right: 25px;
    bottom: 112px;
    width: 60px;
    height: 184px;
    background: #fff;
    border:1px solid #ccc;
    border-radius:6px;
    z-index: 1000;
   text-align:center;
    padding:1px;
    display:none;
}
.small li{
    position: relative;
    width:58px;
    height:60px;
}
.small li span{
    float:left;
    width:56px;
    height:60px;
    line-height:20px;
    padding:10px;
    font-size:14px;
    background:#fff;
    border-bottom:1px solid #ccc;
}
.small li .iconfont{
    height:60px;
    line-height:45px;
}
.small li div{
    position:absolute;
    top:-30px;
    right:59px;
    width:202px;
    border:1px solid #ccc;
    border-radius:6px;
    padding:10px 0 10px 8px;
    background:#fff;
    display:none;
}
.small li div>a{
    float:left;
    width:90px;
    margin-right:6px;
    text-align:center;
}
/*.small li div a:last-child{*/
    /*float:right;*/
/*}*/
.small li div>a p{
    width:90px;
    font-size:14px;
    color:#666;
}
.small li div img{
    width:90px;
    height:90px;
}
.small li:last-child span{
    border-bottom: none;
}
.small li:first-child span:last-child{
    width:56px;
    height:60px;
    line-height:60px;
    padding:0;

}
.small li span:nth-child(2){
    display:none;
}
.small li:hover span{
    background:#31A030;
    color:#fff;
}
.small li:hover span:nth-child(2){
    display:block;
}
.small li:hover div{
    display:block;
}
.small li:hover span:first-child{
    display:none;
}
.nav_container{
    width:100%;
    height:162px;
    margin:0 auto;
}
.nav_container:before{
    content:"";
    display:table;
}
.nav_main{
    width:1205px;
    height:162px;
    margin:0 auto;
}
.nav_bar{
    width:1205px;
    height:110px;
}
.nav_bar:after{
    content:"";
    display:table;
    clear:none;
}
.nav_bar ul{
    float: right;
    width:400px;
    height:110px;
    line-height:110px;
    text-align:right;
    padding-right: 30px;
}
.nav_bar ul li{
    display:inline-block;
    padding-left:20px;
}
.nav_bar ul li span{
    width:28px;
    height:28px;
}
.nav_bar ul li span img{
    width:28px;
    height:28px;
    border:1px solid #ddd;
    border-radius: 50%;
    vertical-align: middle;
}
.nav_bar ul li a{
    color:#000;
}
.nav_search{
    height:54px;
    border:1px solid #ddd;
    border-bottom:none;
    position:relative;
    z-index: 100;
    background: #fff;
                }
.nav_search span{
    float:left;
}
.nav_search .nav_words{
    float:left;
    line-height:54px;
}
.nav_search .nav_words>li{
    float:left;
    padding-left:50px;
}
.nav_search .nav_words>li a{
    display: inline-block;
    font-size:17px;
    color:#000;
    height:54px;
    padding:0 10px;
}
.nav_search .nav_words>li>a:hover{
    background-color:#31A030;
    color:#fff;
}
.nav_search .text{
    float:left;
    width:223px;
    height:54px;
    margin-right: 5px;
    line-height:54px;
    position:relative;
    margin-left:130px;
}
.nav_search input{
    font-size:14px;
    width: 223px;
    padding:5px;
}
.nav_search .iconfont{
    position:absolute;
    top:12px;
    right:0;
    width:30px;
    height:30px;
    line-height:30px;
    font-size: 20px;
    color:#fff;
}
.nav_search a{
    font-size:17px;
    padding:5px 10px;
    color:#fff;
}
.nav_search span{
    width:224px;
    background:#31A030;
    line-height:54px;
    text-align:center;
}
.nav_words li:nth-child(2){
    position: relative;
}
.nav_words li:nth-child(2):hover ul{
    display:block;
}
.nav_words li:nth-child(2) ul{
    width:160px;
    position:absolute;
    background:#fff;
    top:53px;
    left:20px;
    z-index: 100;
    display:none;
}
.nav_words li:nth-child(2) ul li{
    height:46px;
    line-height:46px;
    margin:0 10px;
    padding-left:10px;
    border-bottom:1px solid #ddd;
}
.nav_words li:nth-child(2) ul li a{
    font-size:16px;
    color:#666;
    padding:0;
    margin:0;
    height:46px;
}
.nav_words li:last-child{
    position: relative;
}
.nav_words li:last-child:hover div{
    display: block;
}
.nav_words li:last-child>div{
    display:none;
}
.nav_words li:last-child>div{
    position: absolute;
    top:53px;
    left:-70px;
    width:352px;
    height:182px;
    background-color: #fff;
    z-index: 100;
    padding:10px;
}
.nav_words li:last-child>div p{
    float:left;
    width:50%;
    text-align: center;
    padding-top:15px;
}
.nav_words li:last-child>div div{
    float:right;
}
.nav_words li:last-child>div div h4{
    color:#666;
}
.nav_words li:last-child>div a{
    display:block;
    width:148px;
    height:44px;
    background:url("../images/imgs.png") -1px -77px no-repeat;
    margin-bottom:10px;
}
.nav_words li:last-child>div a:nth-child(2){
    background:url("../images/imgs.png") -1px -29px no-repeat;
}
/*---------------------------广告轮播---------------------*/
.slider_container{
    width:100%;
    min-height: 440px;
    margin:0 auto;
}
.slider_main{
    width:100%;
    position:relative;
    z-index: 50;
    -webkit-perspective: 3000px;
}
.slider_mid{
    margin:0 auto;
    width:1205px;
    height:440px;
    position:relative;
}
.slider_lf{
    width:50%;
    height:480px;
    position:absolute;
    top:-18px;
    left:0;
    z-index: -10;
    transform-style:preserve-3d;
    transform-origin: 0px 0px 0px;
    transform:rotatey(43deg);
}
.slider_rt{
    width:50%;
    height:480px;
    position:absolute;
    top:-18px;
    right:0;
    z-index: -20;
    transform-origin: 100% 0px 0px;
    transform:rotatey(-43deg);
}
#imgs img{
   position: absolute;
    top:0;
    left:0;
    opacity:0;
}
#imgs img.active{
    opacity:1;
    transition: all 1s;
}
/*------------------------数字导航栏----------------------------*/
.slider_mid .slider_num{
    position:absolute;
    top:405px;
    left:0;
    width:100%;
    height:16px;
}
#slider_num{
    width:150px;
    height:16px;
    line-height: 16px;
    margin:0 auto;
}
#slider_num li{
    width:8px;
    margin:0 5px;
    height:10px;
    z-index:200;
    background:#fff;
    cursor: pointer;
    box-sizing: content-box;
    display: inline-block;
}
#slider_num li.active{
   padding-bottom: 6px;
   display: inline-block;
   vertical-align:top;
}
/*------------------------左侧固定部分--------------------------*/
.lf_container{
    position: absolute;
    width:224px;
    height:440px;
    top:0;
    left:1px;
    background:rgba(0,0,0,0.5);
}
.lf_container>ul>li{
    width:226px;
    height:63px;
    line-height:63px;
    text-align:left;
}
.lf_container>ul>li .lf_nav{
    width:204px;
    height:62px;
    line-height:62px;
    margin:0 10px;
    box-sizing: content-box;
    border-bottom:1px solid rgba(255,255,255,0.5);
}
.lf_container>ul>li:last-child{
    border:none;
}
.lf_container>ul>li .lf_nav a{
    color:#fff;
    font-size:12px;
    margin-left:10px;
}
.lf_container>ul>li .lf_nav a:first-child{
    font-size: 16px;
}
/*---------------------------左侧导航栏展开部分--------------------*/
.lf_container>ul{
    position: relative;
}
.lf_block{
    display: none;
    position:absolute;
    top:2px;
    left:224px;
    width:980px;
    height:439px;
    border:1px solid #31A030;
    border-left:none;
    background:#fff;
    padding:5px 0;
    z-index: 100;
    box-sizing: border-box;
}
.lf_container>ul>li:hover .lf_block{
    display: block;
}
.lf_container>ul>li:hover{
    background: #fff;
    border:1px solid #31A030;
    border-left:none;

}
.lf_container>ul>li:hover .lf_nav a{
    color:#333;
}
.lf_container>ul>li:hover .lf_nav a:hover{
    text-decoration: underline;
}
.lf_block .block_lf {
    float:left;
    width:672px;
    height:416px;
    line-height:416px;
}
.lf_block .block_lf>ul{
    width:672px;
    height:416px;
    padding:10px 10px 0 20px;
    margin-bottom:5px;
}
.lf_block .block_lf>ul>li{
    height:46px;
    line-height:46px;
}
.lf_block .block_lf>ul>li ul{
    display:inline-block;
}
.lf_block .block_lf>ul>li ul li{
    height:25px;
    line-height:25px;
}
.lf_block .block_lf>ul>li:first-child{
    margin-bottom:10px;
}
.lf_block .block_lf>ul>li:first-child a{
    display:inline-block;
    color:#FF8A00;
    font-size: 14px;
    line-height:18px;
    border:1px solid #FF8A00;
    margin-left:20px;
    padding:6px 10px;

}
.lf_block .block_lf>ul>li:first-child a:hover{
    background:#FF8A00;
    color:#fff;
    text-decoration: none;
}
.lf_block .block_lf>ul>li a:hover{
    text-decoration: underline;
}
.lf_block .block_lf>ul>li ul li{
    float:left;
    font-size:12px;
    margin-left:10px;
}
.lf_block .block_lf>ul>li ul li a{
    color:#666;
    display: inline-block;
    line-height: 12px;
    padding-left: 10px;
    border-left:1px solid #ccc;
}
.lf_block .block_lf>ul>li ul li.color a{
    color:#31A030;
}
.lf_block .block_lf>ul>li ul li:first-child {
    font-size: 14px;
}
.lf_block .block_lf>ul>li ul li:first-child a{
    border:none;
}
.lf_block .block_right{
    float:right;
}
.lf_block .block_right h4{
    line-height:50px;
    color:#31A030;
}
.lf_block .block_right img{
    width:200px;
    height:140px;
}
.lf_block .block_right ul{
    width:228px;
    padding-right: 0;
    margin-bottom:10px;
}
.lf_block .block_right ul li{
    height:28px;
    line-height:28px;
    margin:0;
}
.lf_block .block_right ul a{
    font-size: 12px;
    color:#333;
}
.lf_block .block_right ul a:hover{
    color:#31A030;
}
/*----------------------------右侧固定部分------------------------*/
.fixed_container{
    position:absolute;
    top:33px;
    right:0;
    width:228px;
    height:374px;
    background-color: #fff;
}
.fixed_container img{
    width:228px;
    height:150px;
}
.fixed_container .fixed_words{
    width:228px;
    height:170px;
    padding:5px 20px;
    padding-right: 0;
}
.fixed_container .fixed_words a{
    font-size: 14px;
    color:#333;
    display: inline-block;
    line-height: 30px;
}
.fixed_container .fixed_words a:hover{
    color:#31A030;
}
.fixed_container ul{
    width:228px;
    height:50px;
    line-height: 50px;
    background-color: #F8F8F8;
}
.fixed_container ul li{
    float:left;
    width:50%;
    border-top:1px solid #ddd;
    border-right:1px solid #ddd;
    text-align: center;
}
.fixed_container ul li a{
    color:#31A030;
}
 .slider_mid a.btn_lf{
    position: absolute;
    top:185px;
    left:240px;
    width:40px;
    height:70px;
    background: url(../images/slider_key.png) 0 0 no-repeat;
    display:none;
}
.btn_rt{
    position: absolute;
    top:185px;
    right:244px;
    width:40px;
    height:70px;
    background: url(../images/slider_key.png) -66px 0 no-repeat;
    display:none;
}
.slider_mid:hover .btn_lf{
    display:block;
}
.slider_mid:hover .btn_rt{
    display:block;
}
/*---------------------------banner_mid------------------------------*/
/*---------------------------中间轮播部分------------------------------*/
.mid_container{
    width:100%;
    background:#f8f8f8;
    margin:0 auto;
}
.mid_container:before{
    content:"";
    display:table;
}
.mid_main{
    width:1205px;
    height:133px;
    margin:0 auto;
    border:1px solid #ddd;
    margin-bottom:30px;
}
.mid_main  .mid_nav{
    width:1205px;
    height:60px;
    margin:36px 1px;
    box-sizing: border-box;
}
.mid_main .mid_nav:after{
    content:"";
    display: table;
    clear:both;
}
.mid_main .mid_nav .mid_title{
    width:235px;
    text-align: center;
    display: inline-block;
}
/*-----------------------------中间文字图标---------------------*/
@font-face {
    font-family: 'iconfont';
    src: url('../font/iconfont.eot');
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../font/iconfont.woff') format('woff'),
    url('../font/iconfont.ttf') format('truetype'),
    url('../font/iconfont.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:40px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.5px;
    -moz-osx-font-smoothing: grayscale;
    color:#2187E0;
    float:left;
}
.small .iconfont{
    font-size:35px;
    color:#666;
}
.mid_main .mid_nav .mid_title p{
    font-size: 12px;
    color:#2187E0;
}
#mid_nav{
    width:963px;
    height:60px;
    line-height: 60px;
    float:right;
}
#mid_nav li{
    display: inline-block;
    width:237px;
    height:60px;
    line-height: 60px;
    border-left:1px solid #ddd;
    text-align: center;
    padding-left:20px;
}
#mid_nav li span:nth-child(2){
    float:left;
    width:150px;
    height:60px;
    line-height:30px;
    margin-top:5px;
    text-align: left;
    padding-left:20px;
}
#mid_nav li span a{
    width:150px;
    line-height: 21px;
    font-size: 16px;
    color:#333;
    display: inline-block;
}
#mid_nav li span a:hover{
    color:#2187E0;
}
#mid_nav li span p{
    line-height:17px;
    font-size: 12px;
    color:#999;
}
/*-----------------------------banner_part1-----------------------------*/
.mid_banner{
    width:1205px;
    height:190px;
    margin:0 auto;
    /*border:1px solid #ddd;*/
    margin-bottom:30px;
}
.mid_banner .banner_title{
    float:left;
}
.mid_banner ul{
    width:100%;
    height:190px;
}
.mid_banner ul li{
    display: inline-block;
    width:20%;
    padding-left:20px;
}
.mid_banner ul li a:first-child{
    display: inline-block;
    width:225px;
    height:142px;
    overflow:hidden ;
}
.mid_banner ul img{
    width:225px;
    height:142px;
    box-sizing: border-box;
    transition: all 0.5s ease;
}
.mid_banner ul li:hover img{
    transform: scale(1.2);
}
.mid_banner ul li a{
    font-size:14px;
    color:#333;
    line-height: 19px;
}
.mid_banner ul li a:hover{
    color:#9DC21B;
}
.mid_banner ul li p{
    font-size:12px;
    color:#999;
    line-height: 23px;
}
/*-------------------------banner_part2----------------------------*/
.mid_favClass{
    width:1205px;
    height:486px;
    margin:0 auto;
    margin-bottom:50px;
}
.mid_favClass h2{
    color:#333;
    font-size:24px;
    line-height:2;
}
.mid_favClass>a{
    float:left;
    width:225px;
    height:466px;
    overflow: hidden;
}
.mid_favClass>a img{
    transition: all 0.5s ease;;
}
.mid_favClass>a:hover img{
    transform: scale(1.2);
}
.mid_favClass ul{
    float:left;
    width:755px;
    height:486px;
}
.mid_favClass li{
    display: inline-block;
    width:30%;
    height:225px;
    margin-left:17px;
    margin-bottom:20px;
}
.mid_favClass li>a{
    display: inline-block;
    width:225px;
    height:142px;
    overflow: hidden;
}
.mid_favClass li>a img{
    transition: all 0.5s ease;
}
.mid_favClass li>a img:hover{
    transform: scale(1.2);
}
.mid_favClass .favClass_rt{
    float:right;
    width:225px;
    height:466px;
}
.classPrice a{
    font-size:14px;
    color:#333;
    line-height: 19px;
}
.classPrice a:hover{
    color:#9DC21B;
}
.classPrice p{
    font-size:12px;
    color:#999;
    line-height: 23px;
}
.classPrice p:last-child{
    color:#FF4000;
    font-size:24px;
    height:21px;
}
.favClass_rt .favClass_words{
    float:right;
    width:225px;
    height:142px;
    padding:5px 20px;
    padding-right: 0;
    padding-top:10px;
    box-sizing: border-box;
    background:#DDB602;
}
.favClass_rt .favClass_words a{
    font-size: 14px;
    color:#fff;
    display: inline-block;
    line-height: 30px;
}
.favClass_rt .favClass_words a:hover{
   text-decoration: underline;
}
.favClass_rt>a{
    display: inline-block;
    width:225px;
    height: 324px;
    overflow: hidden;
}
.favClass_rt>a img{
    transition: all 0.5s ease;
}
.favClass_rt>a img:hover{
    transform: scale(1.2);
}
/*---------------------------banner_part3----------------------------*/
.mid_famTeacher{
    width:1205px;
    height:340px;
    margin:0 auto;
}
.mid_famTeacher h2{
    color:#333;
    font-size:24px;
    line-height:2;
}
.mid_famTeacher ul{
    width:960px;
    float:left;
    height:240px;
    text-align: center;
}
.mid_famTeacher li{
    float:left;
    width:240px;
    height:240px;
    margin-bottom:20px;
    position:relative;
    overflow: hidden;
}
.mid_famTeacher div{
    float:left;
    width:240px;
    height:240px;
    padding:20px;
    background: #4D94DD;

}
.mid_famTeacher div p{
    line-height: 30px;
    text-align: left;
}
.mid_famTeacher div p span{
    font-size: 14px;
    color:#fff;
}
.mid_famTeacher div p a {
    float:left;
    width:130px;
    color:#fff;
}
.mid_famTeacherdiv p a:hover{
    text-decoration: underline;
}
.mid_famTeacher div p>span{
    float:right;
}
.mid_famTeacher ul li>p{
    position: absolute;
    bottom:-20px;
    left:40px;
    transition: all 0.5s linear;
}
.mid_famTeacher ul li:hover >p{
    color:#fff;
    bottom:15px;
}
.mid_famTeacher ul li>p span{
    font-size: 14px;
}
/*-------------------------------section_part1---------------------------------*/
.section_container{
    width:100%;
    margin:0 auto;
}
.section_main{
    width:1205px;
    margin:0 auto;
}
.part1{
    margin-top:30px;
}
.part1:after{
    content:"";
    display:block;
    clear:both;
}
.part_title{
    height:48px;
    line-height: 48px;
}
.part_title h2{
    color:#333;
    font-size:24px;
    line-height:2;
    float:left;
}
.part_title ul li{
    float:left;
    height:37px;
    padding-left:30px;
    padding-top:5px;
}
.part_title a{
    font-size:14px;
    color:#666;
}
.part_title a:hover{
    color:#5CB259;
}
.part_title h4 a{
    float:right;
    padding-top:32px;
    line-height:16px;
}
.part1_banner{
    height:410px;
    margin-top:5px;
}
.part1_lf ul{
    float:left;
    width:980px;
    height:410px;
}
.part1_lf ul li{
    float:left;
    padding-right:19px;
    margin-bottom:20px;
}
.part1_lf ul li>a{
    display:inline-block;
    width:225px;
    height:142px;
    overflow: hidden;
}
.part1_lf ul li img{
    width:225px;
    height:142px;
    transition: all 0.5s ease;
}
.part1_lf ul li img:hover{
    transform: scale(1.2);
}
.part1_lf ul li:first-child>a{
    display: inline-block;
    width:470px;
    height:184px;
    overflow: hidden;
}
.part1_lf ul li:first-child img{
    width:470px;
    height:184px;
    transition: all .5s ease;
}
.part1_lf ul li:first-child img:hover{
    transform: scale(1.2);
}
.part_rt{
    float:right;
    width:225px;
    height:410px;
}
.part_rt .part_words{
    background:#4BBC93;
    float:right;
    width:225px;
    height:142px;
    padding:5px 20px;
    padding-right: 0;
    padding-top:10px;
    box-sizing: border-box;
}
.part_rt .part_words a{
    font-size: 14px;
    color:#fff;
    display: inline-block;
    line-height: 30px;
}
.part_rt .part_words a:hover{
    text-decoration: underline;
}
.part_rt>a{
    display: inline-block;
    width:225px;
    height: 248px;
    overflow: hidden;
}
.part_rt>a img{
    transition: all 0.5s ease;
}
.part_rt>a img:hover{
    transform: scale(1.2);
}
.pic_words a{
    font-size:14px;
    color:#333;
    line-height: 19px;
}
.pic_words a:hover{
    color:#9DC21B;
}
.pic_words p{
    font-size:12px;
    color:#999;
    line-height: 23px;
}
/*-------------------------------section_part2-------------------------------*/
.part2{
    height:450px;
    margin-top:30px;
}
.part2>a{
    float:left;
    width:225px;
    height:390px;
    overflow: hidden;
}
.part2>a img{
    width:225px;
    height:390px;
    transition: all 0.5s ease;
}
.part2>a:hover img{
    transform: scale(1.2);
}
.main_pic{
    float:left;
    width:755px;
    height:410px;
}
.main_pic li{
    display: inline-block;
    width:30%;
    margin-left:17px;
    margin-bottom:20px;
}
.main_pic li>a{
    display: inline-block;
    width:225px;
    height:142px;
    overflow: hidden;
}
.main_pic li>a img{
    transition: all 0.5s ease;
}
.main_pic li>a img:hover{
    transform: scale(1.2);
}
.design_main .part_rt .part_words{
    background: #E19932;
}
/*------------------------section_part--------------------------*/
.working_main .part_rt .part_words{
    background:#4C93DC;
}
.life_main .part_rt .part_words{
    background:#AB7FD5;
}
.language_main .part_rt .part_words{
    background:#EB7B7C;
}
.mpSchool_main .part_rt .part_words{
    background:#0F75B5;
}
.examination_main .part_rt .part_words{
    background:#78C8C9;
}
.legislation_main .part_rt .part_words{
    background:#93AE07;
}
/*-----------------------------footer部分---------------------------*/
/*.footer{*/
    /*width:100%;*/
    /*background: #474443;*/
    /*height:298px;*/
    /*margin-top:30px;*/
/*}*/
/*.footer_main{*/
    /*width:1205px;*/
    /*height:298px;*/
    /*margin:0 auto;*/
/*}*/
/*.footer_lf{*/
    /*float:left;*/
    /*width:430px;*/
    /*color:#ddd;*/
    /*padding:50px 0 30px 0;*/
/*}*/
/*.footer_lf div{*/
    /*font-size: 14px;*/
    /*height:66px;*/
    /*margin:20px 0 30px 0;*/
/*}*/
/*.footer_lf p{*/
    /*font-size: 12px;*/
/*}*/
/*.footer_lf p span{*/
    /*display: inline-block;*/
    /*width:16px;*/
    /*height:16px;*/
    /*background: url(../images/footer_share.png) no-repeat;*/
/*}*/
/*.footer_lf p a:nth-child(1) span{*/
    /*background-position: -35px -53px;*/
/*}*/
/*.footer_lf p a:nth-child(2) span{*/
    /*background-position: -35px -73px;*/
/*}*/
/*.footer_lf p a:nth-child(3) span{*/
    /*background-position: -8px -73px;*/
/*}*/
/*.footer_lf p a:nth-child(4) span{*/
    /*background-position: -8px -53px;*/
/*}*/
/*.footer_lf p:last-child{*/
    /*font-size:12px;*/
    /*color:#999;*/
    /*margin-top:10px;*/
/*}*/
/*.footer_rt{*/
    /*float:right;*/
    /*width:509px;*/
    /*color:#ddd;*/
    /*padding:113px 0 30px 0;*/
/*}*/
/*.footer_rt li{*/
    /*display: inline-block;*/
    /*padding-left:15px;*/
/*}*/
/*.footer_rt li a{*/
    /*font-size: 12px;*/
    /*color:#ddd;*/
/*}*/
/*.footer_rt li a:hover{*/
    /*text-decoration: underline;*/
/*}*/
/*.footer_rt p{*/
    /*float: right;;*/
    /*font-size: 12px;*/
    /*color:#ddd;*/
    /*margin-top: 20px;*/
/*}*/
/*.footer_rt p a span{*/
    /*display: inline-block;*/
    /*width:110px;*/
    /*height:32px;*/
    /*background: url(../images/footer_icon.png) 0 0 no-repeat ;*/
/*}*/
/*.footer_rt p a span:last-child{*/
    /*background-position: 0 -42px;*/
/*}*/
/*.footer_rt p span{*/
    /*vertical-align: middle;*/
/*}*/